     <%- include('./partials/head') %> 
<body>
	<%- include('./partials/header') %> 
	<div>
		 <h2> 
			<a href="/">No tienes los priviligios para entrar</a>
	    </h2>      
	</div>
	<div>
        <img src="/images/node.jpg" width="60%">
	</div>
	<%- include('./partials/footer') %> 
</body>
</html>

